:root {
  --color-blue-dark:#0081ff;
  --color-white:#fff; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  max-width: 120rem;
  background-color: blue;
  margin: 8rem auto;
  min-height: 50rem; }

.logo {
  display: flex; }

.navbar {
  display: flex; }
