:root {
  --color-light-blue-btn:#00aeed;
  --color-dark-blue:#0081ff;
  --color-dark-blue2:#007af3;
  --color-white:#fff;
  --color-purple:#3b4374; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.logo {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-white);
  letter-spacing: .1rem;
  font-family: 'Lexend Deca', sans-serif; }

.blue-span {
  color: var(--color-dark-blue);
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Lexend Deca', sans-serif; }

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-image {
  text-align: right; }
  .header-image img {
    margin-top: 10rem;
    max-width: 80%;
    height: auto; }

.header-textbox {
  color: var(--color-white);
  max-width: 40rem;
  font-size: 1.5rem;
  align-items: center;
  margin-bottom: 8rem; }
  .header-textbox__h2 {
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    margin-bottom: .8rem; }
  .header-textbox__name {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Lexend Deca', sans-serif; }
  .header-textbox__company {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem; }
  .header-textbox__details {
    font-size: 1.4rem;
    letter-spacing: .1rem; }

.textbox-button {
  margin-top: 3rem;
  background-color: var(--color-light-blue-btn);
  text-align: center;
  border-radius: 10rem;
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
  line-height: 3rem;
  transition: .3s;
  cursor: pointer; }
  .textbox-button:hover {
    background-color: var(--color-dark-blue);
    color: black; }

.about-us__button.textbox-button {
  background-color: var(--color-purple); }

.container {
  max-width: 120rem;
  background-color: grey;
  margin: 8rem auto; }

.header {
  padding: 1rem 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.png);
  background-size: cover; }

.navbar {
  display: flex;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: .5rem; }
  .navbar__item {
    list-style: none;
    color: var(--color-white);
    transition: .3s;
    cursor: pointer;
    letter-spacing: .1rem; }
  .navbar__item:not(last-child) {
    margin-right: 3rem; }

.about-us {
  padding: 10rem 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.3rem;
  background-color: var(--color-dark-blue);
  color: var(--color-white); }
  .about-us--title {
    font-family: 'Pacifico', cursive;
    margin-bottom: 1.9rem;
    font-weight: 300;
    letter-spacing: .2rem; }
  .about-us--first {
    flex-basis: 40%; }
    .about-us--first__h3 {
      font-family: 'Lexend Deca', sans-serif;
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
      letter-spacing: .1rem; }
  .about-us--second {
    flex-basis: 50%; }

.services {
  padding: 10rem 18rem;
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-dark-blue2); }
  .services--tittle {
    text-align: center; }
    .services--tittle__h2 {
      font-family: 'Pacifico', cursive;
      font-size: 2rem;
      letter-spacing: .1rem;
      font-weight: 400; }
    .services--tittle__offer {
      font-size: 2rem;
      text-transform: uppercase;
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 700; }
    .services--tittle--name {
      text-transform: uppercase; }
  .services--details--container {
    display: flex;
    justify-content: space-between; }
  .services--detail {
    flex-basis: 30%; }
