:root{
    --color-light-blue-btn:#00aeed;
    --color-dark-blue:#0081ff; 
    --color-dark-blue2:#007af3;
    --color-white:#fff;
    --color-purple:#3b4374;
    --color-black:#000;
    
}

*{
    margin:0;
    padding:0;
}
*,
*::before,
*::after{
    box-sizing:inherit;
}

html{
    font-size:62.5%;
    box-sizing:border-box;
}

body{
    font-family:'Lato', sans-serif;
    font-weight:400;
    line-height:1.6;
    background-color:grey;
}